* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#root {
    position: absolute;
    height: 341px;
    top: 0;
    background-image: linear-gradient(359.29deg, #2D2F34 5.07%, rgba(45, 47, 52, 0.3) 16.43%, rgba(45, 47, 52, 0) 99.36%), url(../img/back.jpg);
    background-color: #2D2F34;
    background-position: 50% 0;
    background-repeat: no-repeat;
}

body {
    position: relative;
    background: #2D2F34;
}

.App {
    margin-top: 350px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;

}

.div-center {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}