* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#root {
    display: flex;
    justify-content: center;
    margin-top: 360px;
    margin-bottom: 50px;
}

body {
    background-image: url("../img/back.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-color: #202124;
}

.App {
    width: 900px;
}

.div-center {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}