.Cart-none {
    display: flex;
    justify-content: center;
    margin: 15px;
    color: #ababab;
    font-size: 28px;
}

.Cart-item-block {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    color: #eaeaea;
    border: black solid 2px;
    padding-right: 10px;
    border-radius: 8px;
}

.Cart-item-first-block {
    display: flex;
    justify-content: flex-start;
}

.Cart-item-name-block {

}

.Cart-item-name {
    text-decoration: underline;
    color: white;
    font-size: 24px;
}

.Cart-img-block {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid #3c3c3d;
    margin-right: 10px;
}

.Cart-img {
    width: 100px;
}

.Cart-button-delete-block {
    padding-top: 10px;
}

.Cart-button-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: .2px;
    width: 95px;
    font-size: 16px;
    background: linear-gradient(50deg, #930707, #620303);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: 0.7s;
    padding: 5px;
    border: 1px solid #382727;
}

.Cart-button-delete:hover {
    transition: 0.7s;
    background: linear-gradient(#620303, #930707);
    border: 1px solid #543c3c;
}

.Cart-item-main-name {
    display: block;
    justify-content: start;
}

.Cart-item-description-block {
    margin: 10px 0;
}

.Cart-price-block {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 24px;
    color: #ffffff;
}

.Cart-offer {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 28px;
    margin: 15px;
}

.Cart-offer-price {
    color: #d00522;
    font-weight: bold;
}

.Cart-offer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: .2px;
    font-size: 20px;
    background-color: rgb(35, 64, 213);
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: 0.5s;
    padding: 5px;
}

.Cart-offer-button:hover {
    transition: 0.5s;
    background-color: rgb(12, 32, 134);
    border: 1px black;
}

.Cart-offer-main-block {
    display: flex;
    justify-content: center;
}

.Cart-offer-block {
    position: fixed;
    top: 25%;
    height:380px;
    display: block;
    z-index: 100;
    padding: 15px;
    margin: 10px;
    width: 450px;
    background-color: rgb(27, 27, 42);
    border-radius: 8px;
    border: 3px solid #a6a5a5;
}

.Cart-offer-input {
    color: white;
    padding: 5px;
    margin: 5px 0 10px 0;
    display: inline-block;
    width: 100%;
    background-color: #3c3c3d;
    border-radius: 6px;
    border: 1px black;
    font-size: 18px;
    resize: none;
}

.Cart-offer-input::-webkit-scrollbar {
    display: none;
}

.Cart-offer-close {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: white;
}

.Cart-offer-button-close {
    border-radius: 50%;
    width: 23px;
    height: 23px;
    background-color: #faced4;
    font-weight: bold;
}

.Cart-offer-title {
    font-size: 20px;
}

.Cart-offer-accept-block {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    color: white;
    font-size: 20px;
}

.Cart-offer-span-price {
    font-weight: bolder;
}

.Cart-offer-success-button {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: .2px;
    width: 95px;
    font-size: 16px;
    background-color: rgb(10, 136, 12);
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: 0.5s;
    padding: 5px;
}

.Cart-offer-success-button:hover {
    transition: 0.5s;
    background-color: #175203;
    border: 1px black;
}

.Cart-offer-success-text {
    margin: 20px 0;
    font-size: 18px;
    color: white;
}