.a-nav{
    color: #ffff;
    text-decoration: none;
}

.header {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    background: linear-gradient(rgb(6, 6, 91), rgba(12, 50, 145, 0.9));
    color: white;
    z-index: 150;
    margin: 0;
    animation: openModal 0.3s ease-out forwards;
}

.header-hide {
    animation: closeModal 0.3s ease-out forwards;
}

@keyframes openModal {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0);   }
}

@keyframes closeModal {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100%);}
}

.header-section {
    display: flex;
    align-items: center;
    list-style: none;
}

.header-item {
    padding: 15px 15px;
    font-size: 20px;
    margin-left: 0;
    height: 100%;
}

.header-item:hover {
    background: linear-gradient(rgb(3, 3, 38), rgba(6, 25, 72, 0.9));
}

.err {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    margin: 10px;
}