.a-nav{
    color: #ffff;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0;
    background: linear-gradient(#06065b, #59095e);
    color: white;
    border-radius: 8px;
    margin-bottom: 10px;
    border: 2px solid black;
}

.header-section {
    display: flex;
    align-items: center;
    list-style: none;
}

.header-item {
    padding: 15px 15px;
    font-size: 20px;
    margin-left: 0;
    height: 100%;
}

.header-item:hover {
    background: linear-gradient(#59095e, #06065b);
}

.err {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    margin: 10px;
}