
.shop-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.shop-card {
    display: block;
    width: 215px;
    margin: 5px;
    border-radius: 8px;
    border: 1px solid white;
}

.shop-img-block {
    display: flex;
    justify-content: center;
    width: 190px;
    height: 210px;
    margin: 10px;
    border-radius: 8px;
    overflow: hidden;
}

.shop-img {
    height: 210px;
    border-radius: 8px;
}

.shop-options {
    margin: 0 15px 5px 15px;
    display: flex;
    justify-content: flex-start;
}

.shop-item-name {
    text-decoration: underline;
    font-size: 16px;
    color: #b4b4b4;
    margin-right: 5px;
}

.shop-item-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: .2px;
    width: 95px;
    font-size: 14px;
    background-color: rgb(50, 50, 75);
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: 0.5s;
}

.shop-item-cart:hover {
    transition: 0.5s;
    background-color: #28282d;
    border: 1px solid black;
}

.shop-price {
    display: flex;
    justify-content: space-between;
    margin: 0 15px 10px 15px;
    color: #d00522;
}

.shop-price-count {
    font-size: 27px;
}

.shop-count {
    font-size: 14px;
    color: #b4b4b4;
    margin-left: 15px;
}

.shop-selector {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.shop-selector-select {
    color: white;
    background-color: rgb(27, 27, 42);
    font-size: 16px;
    border-radius: 8px;
    padding: 5px;
    border: black solid 1px;
}
