.item-main-block {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
}

.item-block-img {
    display: flex;
    justify-content: center;
    width: 340px;
    height: 400px;
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid #6e0569;
    transition: 0.7s;
}

.item-img {
    height: auto;
    border-radius: 4px;
}

.item-block-img:hover {
    transform: scale(1.5);
    transition: 0.7s;
}

.item-text-block {
    display: block;
    justify-content: left;
    width: 540px;
    padding: 5px 10px;
}

.item-name {
    font-size: 24px;
    margin: 10px 0;
    color: white;
}
.item-description {
    margin: 10px 0;
    color: #c0c0c0;
    font-size: 18px;
}

.item-count {
    margin: 10px 0;
    color: #c0c0c0;
    font-size: 14px;
}

.item-price {
    margin: 15px 0;
    color: #ff2424;
    font-size: 30px;
    font-weight: bold;
}

.item-button {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: .2px;
    width: 95px;
    font-size: 14px;
    background: linear-gradient(50deg, #063b4f, #126265);
    color: white;
    border-radius: 4px;
    border: 1px solid #66f8f8;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    padding: 7px;
    transition: 0.7s;
}

.item-button:hover {
    transition: 0.7s;
    background: linear-gradient(50deg,#126265, #063b4f);
    border: 1px solid black;
}