
.shop-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.shop-card {
    display: block;
    width: 215px;
    margin: 5px;
    border-radius: 8px;
    border: 1px solid white;
    background: linear-gradient(red, #06065b, #59095e);
}

.shop-img-block {
    display: flex;
    justify-content: center;
    height: 250px;
    border-radius: 4px;
    overflow: hidden;
}

.shop-img {
    width: 215px;
    border-radius: 8px;
}

.shop-options {
    margin: 10px 5px 10px 5px;
    display: flex;
    justify-content: flex-start;
    text-align: center;
}

.shop-item-name {
    text-decoration: underline;
    font-size: 16px;
    color: #b4b4b4;
    margin-right: 5px;
}

.shop-item-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: .2px;
    width: 95px;
    font-size: 14px;
    background: linear-gradient(50deg, #063b4f, #126265);
    color: white;
    border-radius: 4px;
    border: 1px solid #66f8f8;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: 0.7s;
}

.shop-item-cart:hover {
    transition: 0.7s;
    background: linear-gradient(50deg,#126265, #063b4f);
    border: 1px solid black;
}

.shop-price {
    display: flex;
    justify-content: space-between;
    margin: 0 15px 10px 15px;
    color: #d00522;
}

.shop-price-count {
    font-size: 27px;
}

.shop-count {
    font-size: 14px;
    color: #b4b4b4;
    margin-left: 15px;
}

.shop-selector {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.shop-selector-select {
    color: #a9a7a7;
    background: linear-gradient(#59095e, #06065b);
    font-size: 16px;
    border-radius: 8px;
    padding: 5px;
    border: black solid 1px;
}

.shop-selector-options {
    color: #d8eeec;
    background-color: #59095e;
}
